<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=no"/>
    <meta charset="utf-8">
    <title>NicoleCodeGirl Memory Game</title>
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" href="css/index.css"/>
</head>
<body>
    <header>
        <h3 id="playerWelcome">Welcome to NicoleCodeGirl Memory Game!</h3>
        <div id="floatRight">
            <h2 id="headerDate"></h2>
            <div id="headerLinks">
                <h4 id="startTimeH4" style="display: none;">Start Time: <span id="startTimeSpan"></span></h4>
                <button id="newGameBtn" style="display: none;">New Game</button>
                <a href="/leaderBoard">
                    <button id="goToLeaderBoard" type="button" aria-label="Go to Leaderboard">Leaderboard</button>
                </a>
            </div>
        </div>
    </header>

    <!--============================================
                        ENTER PLAYER NAME
    ==============================================-->
    <div id="playersWrapper">
        <div id="enterNameWrapper">
            <div id="enterNameBody">
                <h1 id="enterNameH1">Enter Your Name</h1>
                <h2>What's your name, player?</h2>
                <form id="enterNameForm" name="enterName" action="/startGame" method="POST">
                    <input type="text" id="playerNameInput" name="playerName" autocomplete="off" required placeholder="Enter your name here..." maxlength="20"/>
                    <p id="nameRequired">Please enter your name to start playing!</p>
                </form>
            </div>
            <div id="enterNameButtons">
                <button id="startGameBtn" type="button" aria-label="Start Game">Start Game</button>
            </div>
        </div>
    </div>

    <script src="js/updateClock.js"></script>
    <script src="js/index.js"></script>
</body>
</html>