body{
    background: url(../photos/error404.jpeg)  center center no-repeat;
    background-size: cover;
    height: auto;
    text-align: center;
    height: 800px;
}

h1{
    text-shadow: 2px 1px 1px red;
}

h2, h3{
    text-shadow: 1px 1px 1px white;
}